<h1>Welcome to Robot World</h1>

<ul id="dashboard">
  <li><a href="/robots">Robot Index</a></li>
  <li><a href="/robots/new">New Robot</a></li>
</ul>

<p>Average age: <%= @robots.average_age %></p>

