<form action="/robots" method="post">
  <p>Enter a new robot:</p>
  <label>Name: <input id="robot-name" type="text" name='robot[name]' /></label><br/>
  <label>City: <input id="robot-city" type="text" name='robot[city]' /></label><br/>
  <label>State: <input id="robot-state" type="text" name='robot[state]' /></label><br/>
  <label>Avatar: <input id="robot-avatar" type="text" name='robot[avatar]' /></label><br/>
  <label>Birthdate: <input id="robot-birthdate" type="text" name='robot[birthdate]' /></label><br/>
  <label>Date Hired: <input id="robot-date-hired" type="text" name='robot[date_hired]' /></label><br/>
  <label>Department: <input id="robot-department" type="text" name='robot[department]' /></label><br/>
  <input id="submit" type="submit" />
</form>

<!-- 
  name, city, state, avatar, birthdate, date hired, and department
-->
