<form action="/robots" method="post">
  <p>Enter a new robot:</p>
  <label>Name: <input type="text" name='robot[name]' /></label><br/>
  <label>City: <input type="text" name='robot[city]' /></label><br/>
  <label>State: <input type="text" name='robot[state]' /></label><br/>
  <label>Avatar: <input type="text" name='robot[avatar]' /></label><br/>
  <label>Birthdate: <input type="text" name='robot[birthdate]' /></label><br/>
  <label>Date Hired: <input type="text" name='robot[date_hired]' /></label><br/>
  <label>Department: <input type="text" name='robot[department]' /></label><br/>
  <input type="submit" />
</form>

<!-- 
  name, city, state, avatar, birthdate, date hired, and department
-->
